<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener 
class-name="com.ExtentReportListener.ExtentReportListener"></listener>
</listeners>


  <test thread-count="5" name="LetCode Regression Test">
    <classes>
      <class name="com.letcode.testcases.InputPageTest"/>
      <class name="com.letcode.testcases.HomePageTests"/>
      <class name="com.letcode.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
